@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rakkas&display=swap');

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

html {
    font-size: 10px;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1.5s ease;
    /* 서서히 사라지는 효과 */
    display: block;
    opacity: 1;
}

.screen_m {
    display: none;
}

.container_index {
    width: 80%;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.8;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 0 10%;
}

.container {
    width: 80%;
    padding: 0 10%; /* 양쪽 여백을 맞추기 위해 수정 */
    text-align: center;
    display: flex; /* flexbox 사용 */
    flex-direction: column; /* 수직 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    margin: auto;
    margin-top: -2%;
    padding-bottom: 1%;
}

.container p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.8;
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 0; /* 기본 여백 제거 */
}

.custom-cursor {
    position: absolute;
    width: 48px;
    /* 원하는 크기로 이미지 조정 */
    height: 48px;
    pointer-events: none;
    /* 마우스 이벤트 무시 */
    transform: translate(-50%, -50%);
    /* 이미지 중심을 커서 중심으로 */
    z-index: 10000;
}

#mov {
    padding: 0px;
    justify-content: center;
    /* 가로 중앙 정렬 */
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    z-index: 400;
}

#mov video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.return_movie {
    width: 8%;
    height: 8%;
    bottom: 100px;
    right: 100px;
    object-fit: contain;
    /* 이미지가 잘리지 않도록 비율 유지 */
    z-index: 900;
    position: fixed;
}

.return_movie_m {
    display: none
}

body {
    font-family: "Noto Sans KR", sans-serif;
    background-image: url('img/background.png');
    background-size: cover;
    transition: filter 0.5s ease;
    width: 100vw;
    height: 100vh;
    display: flex;
}

nav {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu {
    width: 70%;
    display: flex;
    justify-content: center;
    /* 메뉴 내부의 이미지들을 수평 중앙으로 배치 */
    align-items: center;
    /* 메뉴 내부의 이미지들을 세로 중앙으로 배치 */
    flex-wrap: wrap;
    /* 이미지들이 여러 줄로 배치되게 설정 */
    gap: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
}

a {
    display: flex;
    justify-content: center;
    /* 가로 중앙 정렬 */
    font-family: "Rakkas", serif;
    font-size: 40px;
    /*폰트 사이즈 여기서*/
    font-style: normal;
    color: rgb(226, 226, 226);
    /* 텍스트 색상 */
    text-decoration: none;
    /* 밑줄 제거 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
    position: relative;
    z-index: 200;
    padding-top: 3%;
}

a:hover {
    color: #797979;
}

.menuBar {
    display: flex;
    flex-direction: column;
    /* 세로 방향으로 배치 */
    align-items: center;
    /* 가로 중앙 정렬 */
    justify-content: flex-start;
    /* 세로 방향으로 위쪽 정렬 */
    padding: 1rem 1.5rem;
    z-index: 200;
}

.kategorie {
    width: 11%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.card {
    width: 75%;
    /* 카드 전체 영역의 너비 */
    display: flex;
    /* 카드 내부 요소들을 Flexbox로 배치 */
    justify-content: center;
    /* 카드 내부 요소들을 중앙 정렬 */
    gap: 30px;
    margin-top: 2.5%;
    margin: auto;
}

.c {
    transition: transform 0.3s ease, bow-shadow 0.3s ease;
    width: 18%;
    height: 18%;
}

.c:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hamBtn_menu {
    display: none;
}

.hamBtn_menu li {
    padding: 1rem 3rem;
}

.hamBtn_menu li a {
    font-size: 1.8rem;
}

.a {
    text-decoration: none;
    color: white;
}

.hamBtn {
    display: none;
    /* 기본적으로 숨김 */
    width: 3rem;
    position: absolute;
    z-index: 300;
    /* 메뉴 버튼이 다른 요소들보다 위에 오도록 설정 */
}




@media (max-width: 768px) {
    .return_movie {
        display: none;
    }

    .return_movie_m {
        width: 6%;
        height: 30%;
        margin-left: 20%;
        object-fit: contain;
        /* 이미지가 잘리지 않도록 비율 유지 */
        z-index: 900
    }

    html,
    body {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
    }

    .custom-cursor {
        display: none;
    }

    .container_index {
        width: 80%;
        font-size: 16px;
        color: #ffffff;
        line-height: 1.8;
        text-align: center;
        align-items: center;
        position: relative;
        padding: 0 10%;
        top:90%;
    }

    .container {
        width: 80%;
        padding: 0 10%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: -2%;
        padding-bottom: 6%;
        top: 3%;
        position: relative; 
    }
    

    a {
        font-family: "Rakkas", serif;
        font-size: 25px;
        font-style: normal;
        color: rgb(226, 226, 226);
        /* 텍스트 색상 */
        text-decoration: none;
        /* 밑줄 제거 */
        text-align: center;
        /* 텍스트 중앙 정렬 */
        position: relative;
        z-index: 200;
    }

    a:hover {
        color: #797979;
    }

    #videoForWeb_m {
        width: 100%;
        height: 100%;
    }

    #mov_m {
        padding: 0px;
        justify-content: center;
        /* 가로 중앙 정렬 */
        background-color: rgb(0, 0, 0);
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
        z-index: 400;
    }

    #text {
        margin-top: 120%;
    }

    .screen_m {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 1.5s ease;
        /* 서서히 사라지는 효과 */
        display: block;
        opacity: 1;
    }

    #mov {
        display: none;
    }

    .menu {
        display: none;
    }

    .menuBar {
        display: flex;
        justify-content: center;
        /* 가로 중앙 정렬 */
        align-items: center;
        /* 세로 중앙 정렬 */
        padding: 0 1.5rem;
        /* 세로 padding 제거 */
        height: 53px;
        /* 세로 높이 고정 */
        width: 100%;
        z-index: 200;
        position: relative;
        /* 부모 요소에 상대적 위치 추가 */
    }

    .logo {
        display: block;
        position: absolute;
        /* 절대 위치로 메뉴 바에 고정 */
        left: 1.5rem;
        z-index: 300;
        /* 메뉴 버튼이 다른 요소들보다 위에 오도록 설정 */
    }

    .hamBtn_menu {
        display: none;
    }

    .hamBtn_menu li {
        width: 100%;
        text-align: center;
        padding: 10% 10%;
    }

    .hamBtn {
        display: block;
        position: absolute;
        /* 절대 위치로 메뉴 바에 고정 */
        right: 2rem;
        top: 1.5rem;
        /* 오른쪽 1.5rem */
        z-index: 300;
        /* 메뉴 버튼이 다른 요소들보다 위에 오도록 설정 */
    }

    .hamBtn_menu.active {
        display: flex;
        position: fixed;
        /* 화면 전체를 덮음 */
        top: 53px;
        /* .menuBar의 높이만큼 아래에서 시작 */
        left: 0;
        width: 100%;
        /* 화면 가로 전체 */
        height: calc(100vh - 53px);
        /* .menuBar를 제외한 영역만 덮음 */
        background-color: black;
        /* 배경을 검정색으로 설정 */
        flex-direction: column;
        /* 메뉴 항목을 세로로 배치 */
        justify-content: center;
        /* 메뉴를 세로 중앙에 정렬 */
        align-items: center;
        /* 메뉴를 가로 중앙에 정렬 */
        z-index: 100;
        /* .menuBar보다 아래 */
    }

    .card {
        width: 85%;
        /* 카드 전체 영역의 너비 */
        display: block;
        margin: auto;

    }

    .c {
        width: 100%;
        /* 이미지가 부모 div에 맞게 크기 조정 */
        height: auto;
        /* 이미지 비율 유지 */
        transition: transform 0.3s ease, bow-shadow 0.3s ease;
        margin-top: 10%;
    }


}